html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;

  align-items: center;
  background: #fff9f9;
}
a {
  text-decoration: none;
  color: white;
}
/* Youtube */
.YouTube {
  width: 130px;
  height: 30px;
  border: none;
  outline: none;
  color: #ff0000;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.YouTube:before {
  content: "";
  background: linear-gradient(
    45deg,
    white,
    rgb(250, 254, 255),
    rgb(255, 0, 0),
    rgba(255, 0, 0, 0.757)
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.YouTube:active {
  color: #282121;
}

.YouTube:active:after {
  background: transparent;
}

.YouTube:hover:before {
  opacity: 1;
}

.YouTube:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
/* instagram */
.glow-on-hover {
  width: 130px;
  height: 30px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  margin-left: 30px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    rgb(0, 30, 255),
    rgb(203, 65, 65),
    rgb(217, 255, 0),
    black
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
/* telegram */
.hover {
  width: 130px;
  height: 30px;
  border: none;
  outline: none;
  color: #ffffff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  margin-left: 30px;
}

.hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    white,
    rgb(4, 0, 255),
    white,
    rgb(4, 0, 218)
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.hover:active {
  color: #000;
}

.hover:active:after {
  background: transparent;
}

.hover:hover:before {
  opacity: 1;
}

.hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
